{% extends "base.html" %} {% load static %} {% block title %} Abdullahi
Abdulsamad | Full-Stack Web Developer {% endblock title %} {% block header %}
<header class="main-header">
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a href="#" class="main-nav-link main-header-link">Home</a></li>
      <li>
        <a href="#about" class="main-nav-link main-header-link">About</a>
      </li>
      <li>
        <a href="#projects" class="main-nav-link main-header-link">Projects</a>
      </li>
      <li>
        <a href="#services" class="main-nav-link main-header-link">Services</a>
      </li>
      <li><a href="#contact" class="main-nav-link">Contact</a></li>
    </ul>
  </nav>
  <button class="btn_mobile_nav">
    <ion-icon class="icon_mobile_nav" name="menu-outline"></ion-icon>
    <ion-icon class="icon_mobile_nav" name="close-outline"></ion-icon>
  </button>
</header>
{% endblock header %} {% block content %}
<section class="section-hero">
  <div class="main_container">
    <header class="section_hero_header">
      <h1 class="section_hero_title">{{main_heading.text}}</h1>
    </header>

    <div id="about" class="grid grid_cols_3 biography_box">
      <div class="biography_box_left">
        <div class="biography_box">
          <p class="subtitle">Biography</p>
          <p class="subtitle_text biography_text">{{biography.description}}</p>
        </div>
        <div>
          <p class="subtitle">Services</p>
          <div class="subtitle_text services_list">
            <!-- Iterating through the dictionary of Skills -->
            {% for skill in skills %}
            <p>{{ skill.name }}</p>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="developer_profile_container">
        <div class="developer_profile">
          <div class="developer_image_profile">
            <div class="developer_image_box">
              <div class="profile_image">
                <img
                  src="{{biography.profile_image.url}}"
                  alt="Image of the developer"
                  width="200"
                  class="developer_image"
                  loading="lazy"
                />
              </div>
            </div>
            <p class="developer_name">Hi, I am {{biography.name}}</p>
          </div>
          <div class="social_link_box">
            <!-- Iterating through the dictionary of Social Media links -->
            {% for link in social_links %}
            <a href="{{link.url}}" target="_blank"
              ><ion-icon name="{{link.icon}}" class="social_icon"></ion-icon
            ></a>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="biography_box_right">
        <!-- Iterating through the dictionary of About Work -->
        {% for work in about_work %}
        <div class="right_box_text">
          <p class="subtitle">{{work.title}}</p>
          <p class="subtitle_text experience_value">{{work.number}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<div class="logos">
  <!-- Iterating through the dictionary of Logos -->
  {% for logo in logos %}
  <img src="{{logo.image.url}}" alt="{{logo.name}} logo" loading="lazy" />
  {% endfor %}
</div>

<section id="projects" class="section_projects">
  <div class="main_container">
    <header>
      <h2 class="secondary_heading">Projects</h2>
    </header>

    <div class="project_container grid grid_cols_2 margin_bottom_medium">
      <!-- Iterating through the dictionary of Projects -->
      {% for project in projects %}
      <div class="project_card">
        <div>
          <img
            src="{{project.image.url}}"
            alt="Image of
          {{project.title}} project"
            class="project_image"
            loading="lazy"
          />
        </div>

        <div class="project_details">
          <p class="project_title">{{ project.title }}</p>
          <p class="project_category">{{project.category}}</p>
          <p class="project_date">{{project.date}}</p>
          <p class="project_description">{{ project.description }}</p>
          <div class="project_link_box">
            <a href="{{project.link}}" class="project_link">View site Live</a>
            <a href="{{project.github_link}}" class="project_link"
              >View code on GitHub</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="services" class="section_services">
  <div
    class="main_container services_box grid grid_cols_2 margin_bottom_medium"
  >
    <div class="services_left_box">
      <h2 class="secondary_heading service_heading">Services</h2>
      <div class="service_left_text_box">
        <p>
          <ion-icon
            name="{{services_text.icon}}"
            class="service_left_icon"
          ></ion-icon>
        </p>
        <p class="service_left_text">{{services_text.text}}</p>
      </div>
    </div>
    <ul class="services_list">
      <!-- Iterating through the dictionary of services -->
      {% for service in services %}
      <li class="service_detail">
        <div class="service_header">
          <h3 class="service_title">{{ service.title }}</h3>
          <div>
            <button class="btn_accordion">
              <ion-icon name="add" class="service_right_icon"></ion-icon>
            </button>
            <button class="btn_accordion">
              <ion-icon name="remove" class="service_right_icon"></ion-icon>
            </button>
          </div>
        </div>
        <div class="service_description">
          <p>{{ service.description }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<!-- 
Achievements Section - Carousel 
Only display if there are achievements 
-->
{% if achievements %}
<section>
  <div class="main_container margin_bottom_medium">
    <header>
      <h3 class="secondary_heading">Achievement</h3>
    </header>
    <div>
      <!-- Carousel -->
      <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#demo"
            data-bs-slide-to="0"
            class="active carousel_indicator"
          ></button>
          <button
            type="button"
            class="carousel_indicator"
            data-bs-target="#demo"
            data-bs-slide-to="1"
          ></button>
          <button
            type="button"
            class="carousel_indicator"
            data-bs-target="#demo"
            data-bs-slide-to="2"
          ></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <!-- Iterating through the dictionary of Achievements -->
          {% for award in achievements %}
          <div class="carousel-item achievement active">
            <div class="carousel_header">
              <p class="award_pos">{{award.position}}</p>
              <p class="award_name">{{award.challenge_name}}</p>
            </div>
            <h3 class="award_title">{{award.title}}</h3>
            <p class="award_category">{{award.category}}</p>
            <p><ion-icon name="ribbon" class="award_icon"></ion-icon></p>
          </div>
          {% endfor %}
        </div>

        <!-- Left and right controls/icons -->
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#demo"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#demo"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>
  </div>
</section>
{% endif %}

<section>
  <div class="main_container margin_bottom_medium">
    <div class="margin_bottom_small grid grid_cols_2 success_story_container">
      <div class="success_story_text_box">
        <h3 class="secondary_heading">Success Stories</h3>
        <div class="success_story_text_container">
          <p>
            <ion-icon
              name="{{success_story_text.icon}}"
              class="success_story_icon"
            ></ion-icon>
          </p>
          <p class="success_story_text">{{success_story_text.text}}</p>
        </div>
      </div>
      <div>
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active carousel_indicator"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              class="carousel_indicator"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              class="carousel_indicator"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <!-- Static image for carousel replaced with dynamics -->
            {% for project in projects %}
            <div class="carousel-item success_story active">
              <img
                src="{{project.image.url}}"
                class="d-block w-100 carousel_image"
                alt="Image of {{project.title}}
              Project"
                loading="lazy"
              />
            </div>
            {% endfor %}
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="main_container success_stories_box grid grid_cols_4">
      <!-- Iterating through the dictionary of Success Stories -->
      {% for story in success_stories %}
      <div class="success_story_item left">
        <p class="success_story_value">{{story.success_count}}</p>
        <p>{{story.success_description}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="contact" class="section_contact">
  <div class="main_container contact_box">
    <header class="contact_header">
      <div class="letter_A_box">
        <p>A</p>
      </div>
      <p>Let's collaborate!</p>
    </header>
    <h2 class="contact_text">Got an idea? Let's bring it to life, together!</h2>
    <p class="contact_subtext">
      with deep passion for technology and user-centric design
    </p>

    <div class="contact_form_box margin_bottom_medium">
      <form action="" method="post" class="contact_form">
        {% csrf_token %}
        <!---->
        {% comment %} RENDERING THE FORM {% endcomment %}
        <!---->
        {% for field in form %}
        <label for="{{field.id_for_label}}" class="input_label"
          >{{field.label}}</label
        >
        {{field}} {% endfor %}

        <div class="button_box">
          <button type="submit" class="btn_send">Send Message</button>
        </div>
      </form>
    </div>
    {% endblock content %} {% block footer %}
    <footer class="main_container footer margin_bottom_medium">
      <!-- Iterating through the dictionary of Social Media links -->
      {% for link in footer_social_links %}
      <a href="{{link.url}}" target="_blank"
        ><ion-icon name="{{link.icon}}" class="footer_icon"></ion-icon
      ></a>
      {% endfor %}
    </footer>
    {% endblock footer %}
  </div>
</section>

{% block message %}
<div class="success-message">
  <p>Your message has been sent!!!</p>
</div>
{% endblock message %}
