.body {
  position: relative;
}

.success-message {
  display: none;
  position: absolute;
  width: 10rem;
  padding: 1rem 2rem;
  bottom: 5rem;
  left: 10rem;
}

.success-message p {
  font-size: 1.8rem;
  color: #00ff00;
}

/* MAIN HEADER */

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  margin-bottom: 4rem;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

/* NAVIGATION */
.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #004a99;
  font-weight: 600;
  font-size: 1.8rem;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #003e80;
  transform: scale(1.05);
}

/* STICKY NAVIGATION */
.sticky .main-header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.2);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* HERO SECTION */
.section_hero_header {
  display: flex;
  justify-content: center;
}

.section_hero_title {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 4rem;

  max-width: 40rem;
  letter-spacing: 0.75px;
}

/* SECTION BIOGRAPHY */

.biography_box {
  justify-items: start;
  margin-bottom: 6rem;
}

.biography_box_left {
  justify-self: start;
}

.biography_text {
  width: 60%;
}

.services_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.biography_box_right {
  justify-self: end;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.right_box_text {
  width: 60%;
  align-self: flex-end;
}

.subtitle_text.experience_value {
  font-size: 3rem;
  font-weight: 600;
}

.developer_profile_container {
  justify-self: center;
}

.developer_profile {
  display: flex;
  align-items: center;
}

.developer_image_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.developer_image_box {
  width: 23rem;
  height: 33rem;
  border-radius: 70%/40%;
  border: 1px solid #333;
  padding: 2rem;

  margin-bottom: 1rem;
}

.profile_image {
  width: 100%;
  height: 100%;
  overflow: hidden;

  border-radius: 70%/40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 5rem;
}

.developer_image {
  width: 24rem;
  height: auto;
}

.developer_name {
  font-size: 1.6rem;
  font-weight: 600;
}

.social_link_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2.8rem;
}

.social_icon {
  color: #fff;
  background-color: #007bff;
  transition: color 0.3s;
  padding: 0.6rem;
  border-radius: 50%;
}

/* LOGOS */
.logos {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
  margin-bottom: 6rem;
}

.logos img {
  height: 3rem;
  filter: brightness(0);
  opacity: 50%;
}

/* 
******************************
SECTION PROJECTS
******************************
*/

.project_container {
  column-gap: 10rem;
  row-gap: 4rem;
}

.project_card {
  padding: 1.5rem;
  background-color: #e6f2ff;
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.project_image {
  max-width: 100%;
  height: auto;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

.project_details {
  display: flex;
  flex-direction: column;
  min-height: 30rem;
}

.project_title {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 2rem;
}

.project_category {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.project_date {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.project_description {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 4rem;
}

.project_link_box {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.project_link:link,
.project_link:visited {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  background-color: #007bff;
  border-radius: 1rem;

  transition: all 0.3s;
}

.project_link:hover,
.project_link:active {
  background-color: #004a99;
  transform: scale(1.05);
}

/* 
******************************
SECTION SERVICES
******************************
*/
.services_box {
  margin-bottom: 6rem;
}

.secondary_heading.service_heading {
  margin-bottom: 10rem;
}

.service_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.services_list {
  list-style: none;
}

.service_detail {
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  border: 2px solid #cce5ff;
}
.service_title {
  font-size: 1.8rem;
  font-weight: 700;
}

/* SYLTING THE ACCORDION */
.btn_accordion {
  border: none;
  background: none;
  cursor: pointer;
}

.service_right_icon {
  color: #007bff;
  height: 3.6rem;
  width: 3.6rem;

  transition: all 0.6s;
}

.service_right_icon[name="remove"] {
  display: none;
}

.service_description {
  font-size: 1.6rem;
  line-height: 1.5;
  display: none;

  max-height: 20rem;
}

/* 
******************************
ACHIEVEMENTS SECTION
******************************
*/
.carousel_header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.award_name,
.award_pos {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 1.5rem;
}

.award_pos {
  background-color: #007bff;
  color: #fff;
}

.award_name {
  color: #007bff;
  border: 2px solid #007bff;
}

.award_title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.award_category {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.award_icon {
  height: 3.6rem;
  width: 3.6rem;
  margin-right: 1rem;
}

/* Resetting the default bootstrap design */

/* ACHIEVEMENT CAROUSEL */
.carousel-item.achievement {
  padding: 4rem 14rem !important;
  border-radius: 1.5rem !important;
}

/* SUCCESS STORIES CAROUSEL */

.carousel_imgage {
  height: 28rem !important;
  border-radius: 1.5rem !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #007bff;
  padding: 1.5rem;
  border-radius: 50%;
}

.carousel_indicator {
  color: #000 !important;
}

.carousel_indicator.active {
  background-color: #007bff;
}

.carousel-item.success_story {
  padding: 1rem 2rem;
  border-radius: 1.5rem !important;
}

.carousel-item.success_story img {
  border-radius: 1.5rem;
}

/* SUCCESS STORIES */
.success_stories_box {
  column-gap: 8rem;
  row-gap: 3rem;
}

.success_story_item {
  width: 100%;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
}

.success_story_value {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* 
******************************
SECTION  CONTACT
******************************
*/
.section_contact {
  background-color: #cce5ff;
}

.contact_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 2.6rem;
  padding-top: 4rem;
  margin-bottom: 2rem;
}

.letter_A_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 4rem;
}

.contact_text {
  width: 90rem;
  text-align: center;
  line-height: 1;
  font-size: 4.8rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.contact_subtext {
  font-size: 2.6rem;
  font-weight: 600;
}

.contact_form_box {
  background-color: #ebf4ff;
  width: 70%;
  border-radius: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
}

.contact_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.identity_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 3rem;
}

.identity_box div {
  width: 100%;
}

.input_label {
  display: block;
  font-size: 1.4rem;
  color: #007bff;
}

.input_field {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #007bff;
  font-size: 1.6rem;
}

.textarea_field {
  width: 100%;
  height: 25rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #007bff;
  font-size: 1.6rem;
}

.button_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_send {
  width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;

  transition: all 0.3s;
}

.btn_send:hover {
  background-color: #004a99;
  transform: scale(1.05);
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer_icon {
  color: #007bff;
  font-size: 2.6rem;
  background-color: #fff;
  transition: color 0.3s;
  padding: 1rem;
  border-radius: 50%;
}

.footer_icon:hover {
  color: #004a99;
  transform: scale(1.05);
}

/* MOBILE */

.btn_mobile_nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
  z-index: 1;
}

.icon_mobile_nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon_mobile_nav[name="close-outline"] {
  display: none;
}
